* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',  sans-serif;
}

body {
    color: #263138;
}

header {
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
/* Ordem do padding - Topo, direita, embaixo e esquerda*/
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1, h2 {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao {
    background-color: #FF725E;
    border-radius: 12px;
    color: #FFFFFF;
    /* Vertical e horizontal */
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color:#FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li {
    margin-bottom: 16px;
    margin-left: 40px;
}

#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}
/* 
margin - espaçamento externo do header
padding - espaçamento interno do header, borda pode ser sólida ou dashed (traçado) 
box-sizing: border-box - bordas do elementos são calculadas através do padding
display - Formato de exibição das coisas que estão dentro dele
display: flex - ele vai ativar o align-items e justify-content
align-items - Alinhamento vertical
justify-contents - Alinhamento horizontal
position: relative - elementos que vão ficar dentro vai usar o #inicio(ex) como base
*/

/* 
id - Coisa única
class - Pode repetir
*/